a:link
	{
		color: #632024;
		text-decoration: none;
	}
a:visited
	{
		color: #632024;
	}
body
	{
		background-color: #D5b893;
	}
hr
	{
		color: #632024;
		background-color: #632024;
	}